# Jupyter
**/.ipynb_checkpoints/

# 데이터/출력물
configs/*
data/*
outputs/*
weights/*

# 예외
!configs/demo/
!data/demo/
!outputs/checkpoints/
outputs/checkpoints/*
!outputs/checkpoints/.gitkeep
!weights/demo/

# 기타
directory_diagram.txt
directory_diagram_base.txt